/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif; /* change to your preferred font */
    background-color: #f0f0f0; /* light gray background */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1 0 auto;
    height: 75vh;
}

h1 {
    text-align: center;
    color: #333; /* dark gray title color */
    margin-bottom: 20px;
}

/* Container for Log and Command Input */

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
}

/* Log Area */

.logarea {
    background-color: #333; /* dark gray log area */
    padding: 10px;
    border-radius: 15px 15px 0 0;
    height: 75vh;
    overflow-y: auto;
}

#log {
    font-size: 14px;
    line-height: 20px;
    color: #fff; /* white text color */
    margin-bottom: 10px; /* Add some space between the log and command input */
}

/* Command Input */

#commandcontainer {
    display: flex;
    background-color: #444; /* Darker gray for the input container */
    border-radius: 0 0 15px 15px;
    padding: 10px;
}

#command {
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    color: #fff; /* white text color */
    width: 100%;
    font-size: 16px;
    outline: none;
}

#command::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Lighter gray placeholder text */
}

/* Link */

a {
    text-decoration: none;
    color: #337ab7; /* blue link color */
}

a:hover {
    color: #23527c; /* darker blue on hover */
}

footer {
    width: 100%;
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
    flex-shrink: 0;
}

footer a {
    color: #ccc;
}

footer a:hover {
    color: white;
}

nav {
    text-align: center;
    font-size: large;
    padding: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 850px) {
  .container {
    width: 100%;
    border-radius: 0;
  }
  .logarea {
      border-radius: 0;
  }
  #commandcontainer {
      border-radius: 0;
  }
}
